*{
    padding: 0%;
    margin: 0%;
}
.topnav {
    overflow: hidden;
    background-color: black;
    height: 70px;
    padding: 0%;
    margin: 0%;
  }
  .topnav a {
      margin-left: 10%;
      padding: 16px 14px;
      font-size: 23px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      color: lightgoldenrodyellow;
      float: left;      
  }
  .topnav a:hover {
      background-color: blueviolet;
      color: yellow;
  }
  .name{
    background-image: url("../images/photo-1461749280684-dccba630e2f6.jpeg");
    background-size: cover;
    height: 47vh;
    text-align: center;
    padding-top: 280px;
    padding-right: 160px;
  }
  .name h2{
      color: white;
      font-size: 50px;
      font-weight: bold;
      font-style: normal;
      margin-top: -9%;
  }
  .name h3{
      color: white;
      font-size: 40px;
      font-weight: lighter;
      font-style: italic;
      margin-left: 250px;
  } 
  #About {
    width: 80;
    margin: auto;
    padding: 10% 10% 0 10%;
    display: flex;
    flex-direction: row;
    margin-top: -10%;
    box-sizing: border-box;
    border-radius: 4px;
  }
  .aboutme{
    border: white solid 1px;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px 5px lightgray;
    margin: 0 0 0 70px; 
  }
  .myimage {
    height: 50%;
    display: flex;
    flex-direction: row;
    border: white solid 1px;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px 5px lightgray;
    margin: 0 0 0 70px;
  }
  .myimage:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  #Projects{
    margin-left: 4%;
}
.footer{
    background-color: black;
    width:100%;
    padding-left:0px;
}
#footer{
    text-align: center;
    padding: ;
}

