*{
    padding: 0%;
    margin: 0%;
}
.topnav {
    overflow: hidden;
    background-color: black;
    height: 70px;
    padding: 0%;
    margin: 0%;
  }
  .topnav a {
      margin-left: 10%;
      padding: 16px 14px;
      font-size: 23px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      color: lightgoldenrodyellow;
      float: left;      
  }
  .topnav a:hover {
      background-color: blueviolet;
      color: yellow;
  }